export PGDATABASE=t_db
export DATABASE_URL="postgres://t_user:456654@localhost:5432/t_db?sslmode=disable"
export GOOSE_MIGRATIN_DIR=migrations
export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING="$DATABASE_URL"

